.closing_section {
  padding: 2rem 1rem;
}

.closing_image_container {
  border-radius: 1rem;
  overflow: hidden;
}

.closing_image_container img {
  width: 100%;
}

.closing_text {
  text-align: center;
  padding: 1.5rem 0.75rem;
}

.closing_text span {
  color: #d87d4a;
}

.closing_text p {
  margin-top: 1rem;
  font-weight: 200;
}

@media (min-width: 640px) {
  .closing_section {
    padding: 4rem 2rem;
  }

  .closing_text h2 {
    font-size: 240%;
  }

  .closing_text p {
    padding: 0 15%;
  }
}

@media (min-width: 950px) {
  .closing_section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 8rem;
  }

  .closing_image_container {
    width: 49%;
  }

  .closing_text {
    width: 45%;
    text-align: left;
  }

  .closing_text p {
    padding: 0;
  }
}
