.features_section {
  padding: 2rem 0;
}

.features_section h3 {
  margin: 1rem 0;
}

.features_section span {
  color: #d87d4a;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.25rem;
}

.features_text {
  white-space: pre-line;
}

.box_content {
  white-space: pre;
}

.box_content p {
  margin: 0.5rem 0;
}

@media (min-width: 640px) {
  .box_content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 3rem;
  }

  .box_content h3 {
    margin: 0.5rem;
  }
}

@media (min-width: 950px) {
  .box_content {
    flex-direction: column;
    width: auto;
    margin-top: 0;
    width: 30%;
  }

  .box_content h3 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 150%;
  }

  .features_section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .features_text {
    width: 58%;
  }

  .features_text h3 {
    margin-top: 0;
    font-size: 150%;
  }
}
