footer {
  background-color: #191919;
  color: white;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.page_list {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.page_list a {
  margin: 0.35rem 0;
  font-weight: 500;
}

.page_list a:hover {
  color: #d87d4a;
}

footer p {
  font-weight: 200;
  color: #ffffff80;
}

.copyright {
  margin: 2rem 0;
}

.socials {
  display: flex;
  align-items: center;
  width: 7rem;
  justify-content: space-between;
}

@media (min-width: 640px) {
  footer {
    padding: 2rem;
    text-align: left;
  }

  .footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
  }

  .page_list {
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    margin: 0;
  }

  .copyright {
    margin-right: auto;
    margin-bottom: 0;
  }

  .socials {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}

@media (min-width: 950px) {
  footer {
    padding: 3rem 8rem;
  }

  .page_list {
    width: 45%;
  }

  .socials {
    right: 8rem;
    bottom: 3rem;
  }

  footer p {
    width: 43%;
    margin-right: auto;
  }
}
